<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>

<style>
    .main p{
        background-color: #EDEEF0;
        margin: 0px;
        padding-top: 10px;
        font-size: 24px;
        cursor: pointer;
        height: 50px;
        font-family: Arial, serif;
    }
    .main p:hover{
        background-color: #7FBFFF;
    }
    body{
        background-color: #EDEEF0;
    }
    .main{
        padding: 0px;
        background-color: white;
        border-right: solid #EDEEF0 5px;
    }
    .title{
        height: 80px;
    }
    .content{
        background-color: white;
        height: 500px;
        border: solid #E3E4E8 1px;
    }
    textarea {
        resize: none;
    }
</style>

<div class="row col-md-9 col-md-offset-1 title">
    <h2><p class="text-left">Пользователь {{ request.user }}</p></h2>
</div>
<div class="row col-md-12">
    <div class="col-md-3 col-md-offset-1 main">
        <p class="text-center" data-text="users" onclick="get_content(this);">Пользователи</p>
        <p class="text-center" data-text="tape" onclick="get_content(this);">Лента</p>
        <p class="text-center" data-text="self" onclick="get_content(this);">Написать</p>
        <form action="add_msg/" method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <input type="submit" class="btn btn-default col-md-12" value="Отправить" />
        </form>
    </div>
    <div class="col-md-5 content">

    </div>
</div>
</body>

<script>
    function get_content(widget) {
        var text = {'type_content': widget.dataset.text};
        $.ajax({
            type: "GET",
            url: "content/",
            data:text,
            success: function(data){
                $('.content').empty().append(data);
                }
            })
    }
</script>

</html>